

    <header>
        <div style="position: relative;
        width : 100%;">
            <img style="position: relative;
            width : 100%;" class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Paris_06_2012_Louvre_Panorama_3036.jpg" alt=""></div>
    </header>
    <h2>Billet(s) pour le musée du Louvre </h2>
    <h3> Visite le {{ reservation.reservationDate|date('d/m/Y') }} </h3>
    <div class="bloc">
        {% for i, ticket in reservation.tickets %}
                <div class="col-sm">
                    <div> Prénom : {{ ticket.firstName }}</div>
                    <div> Nom : {{ ticket.lastName }} </div>
                    <div> Date de naissance : {{ ticket.birthDay|date('d/m/Y') }} </div>
                </div>

                <div class="col-sm">
                    <div> Tarif : {{ typeName[i] }} </div>
                    <div> Type de Billet : {{ dayOrHalfDay }}</div>
                    <div> Prix : {{ ticket.price }}€</div>
                </div>
            </div>
            </br>
        {% endfor %}
        <div>
            <img src="https://media.glassdoor.com/sqll/681218/mus%C3%A9e-du-louvre-squarelogo-1402486757309.png"/ alt="" >
        </div>
        <h4> N° de reservation TC{{ reservation.id }}KL7 </h4>
        <div class="row">
            <div class="col-sm"> Addresse mail de la commande : {{ reservation.emailAddress }} </div>
        </div>
    </div>