{% extends 'base.html.twig' %}
{% block title %}Hello      {% endblock %}

{% block body %}


    <h1 class="text-primary">Choisissez la date de votre visite </h1>

    {# render the task's only field: description #}



    {# render the task's only field: description #}


{{ form_start(form) }}
    {{ form_row(form.reservationDate) }}

    <h1 class="text-primary">Ajouter des tickets</h1>
    <div class="bloc">
    Ticket 
    <div class="tickets  center" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html') }}">
    </div>
    
   </div>
   <div class="row justify-content-md-center">
    <button class="btn btn-success" type="submit"> Envoyer </submit>
    </div>
    {{ form_row(form._token) }}
{{ form_end(form.reservationDate) }}

{% endblock %}