{% extends 'base.html.twig' %}
{% block title %}Hello      {% endblock %}

{% block body %}


    <h1 class="text-primary">Choisissez la date de votre visite </h1>

    {# render the task's only field: description #}

  

    {# render the task's only field: description #}
<h3> Choisissez la date de votre visite </h3>

{{ form_start(form) }}
    {{ form_row(form.reservationDate) }}

    <h3>Tickets</h3>
    <div class="tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html') }}">
    </div>
    
    
    <button class="btn btn-success" type="submit"> Envoyer </submit>
    {{ form_row(form._token) }}
{{ form_end(form.reservationDate) }}

{% endblock %}